<h1>Todas as tarefas</h1>
<ul class="container">
  {{#each tasks}}
    <li class="item">
      {{#if this.done}}
        <h4 class="title done">{{this.title}}</h4>
        <p href="/" class="title done">{{this.description}}</p>
      {{else}}
        <h4 class="title">{{this.title}}</h4>
        <p href="/" class="title">{{this.description}}</p>
      {{/if}}
      <div class="actions">
        <form action="/tasks/updatestatus" method="post">
          <input type="hidden" name="id" value={{this.id}}>
          <input type="hidden" name="done" value={{this.done}}>
          {{#if this.done}}
            <button type="submit"><i class="bi bi-arrow-counterclockwise"></i></button>
          {{else}}
            <button type="submit"><i class="bi bi-check2"></i></button>
          {{/if}}
        </form>
        <a href="/tasks/edit/{{this.id}}"><i class="bi bi-pencil-square"></i></a>
        <form action="/tasks/remove" method="post">
          <input type="hidden" name="id" value={{this.id}}>
          <button type="submit"> <i class="bi bi-x-lg"></i></button>
        </form>
      </div>
    </li>
  {{/each}}
</ul>